@font-face {

  font-family: 'IranianSans';
  src: url('./assets/Fonts/IranianSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@import "tailwindcss";

* {
    font-family: 'IranianSans', sans-serif;
}